<html lang="html">
<head>
    <meta charset="utf-8">
    <title>teste</title>
</head>
<body>

    <div id="app">

        <p>Nome:</p><input id="app" v-model="nome"><br/>
        <p>Email:</p><input id="app" v-model="email"><br>
        <p>Idade:</p><input id="app" v-model="idade"><br><br/>
        
        <p>Feminio<input type="radio" id="feminino" value="feminino" v-model="sexo">
        Masculino<input type="radio" id="masculino" value="masculino" v-model="sexo"></p>


        <h1>NOME: {{nome}}</h1>
        <h1>EMAIL: {{email}}</h1>
        <h1>SEXO: {{sexo}}</h1>
        <h1>IDADE: {{idade}}</h1>

    </div>


    
    <script src="https://unpkg.com/vue"></script>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                nome: null,
                email: null,
                idade: null,
                sexo: null
            }
        })

    </script>

</body>
</html>